* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
    background-color: #151515;
    overflow-x: hidden;
    height:auto;
}

/* ======= Section-First ======= */
.section-one {
    width: 100%;
    height: 100vh;
    background-color: #151515;
    overflow: hidden;
}

/* Navigation Bar */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
}
.logo img {
    width: 110px;
    position: relative;
    top: -10px;
    right: 50px;
}

ul {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-top: 5px;
}
ul li {
    list-style: none;
    color: #fff;
    font-size: 15px;
    transition: 0.3s;
}
ul li:hover {
    color: #f637ec;
    cursor: pointer;
}

.right-side {
    display: flex;
    gap: 60px;
}
#eng {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    margin-top: 2px;
    transition: 0.3s;
}
.dropdown {
    margin-left: 8px;
    color: #fff;
}
.dropdown:hover {
    color: #f637ec;
    transform: rotate(90deg);
}

.pink-icon {
    background-image: url(./Assets/Icons/btn-pink-bg.svg);
    background-repeat: no-repeat;
    display: inline;
    padding-left: 10px;
}
.pink-icon a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}
.pink-icon a:hover {
    cursor: pointer;
    font-weight: 500;
}

/* Crads */
.cards-container {
    color: #fff;
    display: flex;
}

/* Left-side */
.left-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
    position: relative;
    left: 100px;
    top: 50px;
}
.left-text h1 {
    font-size: 80px;
    font-weight: 500;
    width: max-content;
    margin-top: 50px;
}

.left-text h1 strong {
    color: #f637ec;
    font-weight: 700;
}

.left-text #description {
    color: #8e8787;
    font-weight: 500;
    font-size: 18px;
    width: 60%;
    margin-bottom: 20%;
}

.getstarticon {
    display: flex;
    align-items: center;
    position: relative;
    bottom: 28%;
}

.getstarticon img {
    position: absolute;
}

.getstarticon a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    margin-left: 30px;
    transition: 0.3s;
}
.getstarticon a:hover {
    background-color: #82057c;
    border-radius: 5px;
    font-weight: 500;
    padding: 0 8px;
}

.getstarticon a img {
    position: relative;
}

.feedback {
    display: flex;
    gap: 50px;
    position: absolute;
    bottom: 10%;
}

.feedback img {
    height: 50px;
}

.feedback-first, .feedback-second {
    display: flex;
    gap: 20px;
}
.number-one, .number-two {
    font-size: 40px;
    font-weight: 600;
}
.plus {
    color: #f637ec;
    width: 5px;
    font-size: 35px;
}
.happy-user {
    margin-top: 6px;
    font-weight: 500;
}

/* Right-side */
.frontcards img {
    position: relative;
    top: 60px;
    right: 10%;
    width: 850px;
    height: 580px;
    z-index: 1;
}

.backcards img {
    position: absolute;
    top: 10%;
    right: 0;
    width: 900px;
    height: 600px;
}

/* ======= Section-Second (logo) ======= */

.section-two {
    height: 180px;
    width: 100%;
    background-color: #292929;
    margin-top: 10%;
}
.logo-section {
    display: flex;
    justify-content: center;
    gap: 100px;
    position: relative;
    top: 40%;
}
.logo-section img {
    width: 150px;
}

/* ======= Section-Third ======= */
.section-three {
    height: 1000px;
    max-width: 100%;
}
.section-third-text {
    display: flex;
    justify-content: center;
}
.section-third-text h1 {
    width: 50%;
    color: #fff;
    margin-top: 8%;
    font-size: 70px;
    margin-left: -8%;
    font-weight: 400;
}
.section-third-text h1 strong {
    color: #f637ec;
}

.section-third-text p {
    width: 50%;
    color: rgb(201, 196, 196);
    margin-top: 14%;
    font-size: 20px;
    width: 28%;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 5%;
}
.box-1 {
    border: 1px solid #fff;
    background-color: #262626;
    text-align: center;
    padding: 50px 80px;
    position: relative;
    top: 50px;

}
.box-2 {
    border: 2px solid #fff;
    background-color: rgb(85, 83, 83);
    padding: 50px 60px;
}
.box-3 {
    border: 1px solid #fff;
    background-color: #262626;
    padding: 50px 80px;
    position: relative;
    top: 50px;
}
#cloud {
    position: relative;
    left: 70px;
}
#lock {
    position: relative;
    left: 40px;
}
.boxes p {
    color: #fff;
    font-size: 25px;
    text-align: center;
}
.para {
    position: relative;
    top: 35px;
}

/* ======= Section-Fourth ======= */
.section-four {
    background-color: #f9e9f9;
    text-align: center;
    padding-top: 8%;
}
.section-four h1 {
    font-size: 70px;
    font-weight: 500;
}
.section-four strong {
    color: #f42eea;
    font-size: 65px;
    font-weight: 700;
}
.section-four p {
    width: 50%;
    font-size: 20px;
    position: relative;
    left: 25%;
    top: 40px;
    color: rgb(75, 74, 74);
}

/* ======= Section-Fifth ======= */
.section-five {
    height: 1200px;
}
.section-five h1 {
    font-size: 70px;
    font-weight: 500;
    width: 72%;
    color: #fff;
    margin-left: 15%;
    margin-top: 10%;
    text-align: center;
}
.section-five strong {
    color: #f637ec;
}
.section-five p {
    color: rgb(199, 197, 197);
    margin-top: 40px;
    font-size: 20px;
    width: 40%;
    margin-left: 30%;
    text-align: center;
}

.review-boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    row-gap: 90px;
    margin: 5% 8% 0 8%;
}
.review-1 {
    border: 2px solid #fff;
    background-color: #4e4d4c;
    width: 530px;
    height: 240px;
    padding: 20px;
    color: #fff;
}
.review-boxes p {
    width: 100%;
    font-size: 15px;
    position: relative;
    right: 30%;
    bottom: 25px;
    text-align: start;
    font-weight: 600;
}

.review-2, .review-3, .review-4 {
    border: 1px solid #fff;
    background-color: #18181b;
    width: 530px;
    height: 230px;
    padding: 25px;
    color: #fff;
}
.review-third {
    position: relative;
    bottom: 10px;
}
.review-4 {
    margin-bottom: 10px;
}
.review-boxes span {
    font-size: 14px;
}

.next-btn {
    display: flex;
    gap: 10px;
    width: 100px;
    height: 20px;
    position: relative;
    left: 45%;
    top: 150px;
}
.long-btn {
   background-color: #f637ec;
   padding: 3px 50px;
   border-radius: 10px;
   border: none;
   box-shadow: 0 0 25px 0 #f637ec;
   cursor: pointer;
}
.small-btn {
   background-color: rgb(85, 84, 84);
   padding: 10px;
   border-radius: 50%;
   border: none;
}
.small-btn:hover {
    background-color: #f637ec;
    box-shadow: 0 0 25px 0 #f637ec;
    cursor: pointer;
}

/* ======= Section-Sixth ======= */
.section-six {
   height: 500px;
   width: 100%;
   position: relative;
}
.images {
    width: 100%;
}

#img1 {
    width: 100%;
    height: 500px;
    position: absolute;
    bottom: 0;
}
#img2 {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 500px;
}

#img3 {
    position: absolute;
    bottom: 2rem;
    height: 478px;
}

#img4 {
    height: 468px;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-top: 3px;
}

.section-six h1 {
    z-index: 1;
    position: relative;
    top: 8rem;
    left: 25%;
    text-align: center;
    font-size: 68px;
    width: 60%;
    color: #fff;
}
.section-six strong {
    color: #000;
}

#getstart {
    position: relative;
    left: 46%;
    top: 11rem;
    z-index: 1;
}

/* ======= Footer ======= */
.footer {
    height: 200px;
    position: relative;
    left: 10%;
    display: flex;
    gap: 20%;
    margin-top: 3rem;
}
.footer .logo {
    margin-top: 6rem;
}

.footer ul li a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}
.footer ul li a:hover {
    color: #f637ec;
}