* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000ef;
}

h1 {
    margin: 30px 0;
    font-size: 50px;
    color: #ffffff;
}

.calculator {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px #363535;
    margin-bottom: 60px;
}

input {
    width: 100%;
    height: 80px;
    font-size: 50px;
    background: transparent;
    color: #ffffff;
    border: none;
    text-align: right;
    padding: 10px;
    margin: 10px 0;
    font-weight: 600;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: #ffffff;
}

button {
    width: 150px;
    height: 70px;
    box-shadow: 0 4px 15px #252424ea;
    color: #ffffff;
    background: transparent;
    border: none;
    border-radius: 10px;
    margin: 5px;
    font-size: 30px;
    font-weight: 600;
    transition: 0.3s;
}

#error-message {
    position: relative;
    width: 100%;
    height: 40px;
    color: red;
    font-size: 18px;
    display: none;
    text-align: right;
}

button:hover {
    box-shadow: 0 4px 15px #363535;
    transform: scale(1.1);
    cursor: pointer;
}

.clear-btn {
    background-color: #32cd32d6;
}

.del-btn {
    background-color: #d00a0ae2;
}

.equal-btn {
    background-color: #D2691E;
}

.operator {
    color: #D2691E;
}

/* Media Query */
@media only screen and (max-width: 1024px){
    h1 {
        position: relative;
        top: 30px;
        font-size: 50px;
    }
    .calculator {
        margin-bottom: 100px;
    }
    input {
        font-size: 35px;
    }
    button{
        height: 60px;
    }
    #error-message {
        height: 28px;
    }
}

@media only screen and (max-width: 920px){
    h1 {
        margin-bottom: 80px;
        font-size: 60px;
    }
    button {
        height: 100px;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 768px){
    h1 {
        font-size: 40px;
        position: relative;
        top: 70px;
    }
    .calculator {
        margin: 0 78px;
        margin-bottom: 120px;
    }
    button {
        height: 50px;
        width: 118px;
        margin-right: 16px;
        margin-top: 8px;
        font-size: 22px;
    }
    #error-message {
        height: 30px;
    }
}

@media only screen and (max-width: 600px){
    .calculator {
        margin: 0 30px;
        margin-bottom: 80px;
    }
    button{
        height: 60px;
        width: 90px;
        margin-top: 10px;
        margin-right: 10px;
    }
}

@media only screen and (max-width: 430px){
    input {
        font-size: 30px;
    }
    button {
        width: 63px;
        height: 42px;
        margin-right: 10px;
        font-size: 20px;
    }
    #error-message {
        font-size: 15px;
        height: 25px;
    }
}

@media only screen and (max-width: 420px){
    button {
        width: 56px;
        margin-right: 13px;
        font-size: 25px;
    }
}

@media only screen and (max-width: 395px){
    h1 {
        font-size: 45px;
    }
    .calculator {
        margin-bottom: 100px;
    }
    input {
        font-size: 40px;
    }
    button{
        height: 60px;
        width: 60px;
        margin-right: 2px;
        font-size: 25px;
    }
}

@media only screen and (max-width: 380px){
    h1 {
        font-size: 30px;
    }
    button{
        height: 50px;
        width: 60px;
        margin-right: -1px;
        font-size: 20px;
    }
    #error-message {
        font-size: 14px;
        height: 20px;
    }
}

@media only screen and (max-width: 360px){
    input {
        font-size: 30px;
    }
    button{
        width: 56px;
        font-size: 20px;
    }
    #error-message {
        font-size: 14px;
        height: 20px;
    }
}
 
@media only screen and (max-width: 320px){
    button{
        height: 40px;
        width: 48px;
        margin-right: -2px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 280px){
    h1 {
        font-size: 30px;
    }
    input {
        font-size: 25px;
    }
    button{
        height: 30px;
        width: 35px;
        margin-right: 1.5px;
        font-size: 13px;
    }
    #error-message {
        font-size: 11px;
    }
}