* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #0f0f0f;
    color: #ffffff;
}

/* ========== Home-Section ========== */
.home-section {
    padding: 40px 0;
}

/* ========== Navigation-bar ========== */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.right-nav {
    display: flex;
    align-items: center;
    gap: 120px;
    position: relative;
    left: 4%;
}
.right-nav ul {
    display: flex;
    gap: 60px;
    margin-top: 10px;
}
.right-nav ul li {
    list-style: none;
}
.right-nav ul li a {
    text-decoration: none;
    font-weight: 600;
    color: #ffffff;
}

.right-nav ul li a:hover {
    color: #a9a8a8;
}

.right-nav ul li a::after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    margin: auto;
    margin-top: 5px;
    transition: 0.3s;
}
.right-nav ul li a:hover::after {
    width: 100%;
    background-color: #ffffff;
}
button {
    background-color: #222121;
    padding: 15px 50px;
    border-radius: 10px;
    border: none;
    color: #ffffff;
    font-size: 16px;
    transition: 0.3s;
}

button:hover {
    box-shadow: 2px 2px 15px #ffffff;   
    cursor: pointer;
    transform: scale(1.1);
}

/* ========== Main-home ========== */
.main-home {
    display: flex;
    justify-content: center;
}
.main-image {
    position: relative;
    right: 7%;
    bottom: 15rem;
}

.right-home {
    position: relative;
    top: 15px;
}
#onear-img {
    margin-left: 10%;
}
.right-home h1 {
    font-size: 50px;
}
.right-home h3 {
    margin: 20px 0;
}
.right-home p {
    line-height: 30px;
    margin: 30px 0;
    color: rgb(174, 174, 174);
}
button img {
    position: absolute;
    left: 20px;
}
button span {
    font-weight: 600;
    position: relative;
    left: 10px;
}

/* ======= Logo ======== */
.company-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 160px;
    position: absolute;
    top: 41rem;
    left: 22%;
}

/* ========== Specs-section ========== */
.specs-section {
    padding: 20px 0;
    width: 80%;
    margin: auto;
    position: relative;
    bottom: 50px;
}

.specs {
    margin-left: 42%;
    margin-bottom: 50px;
}

.about-specs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
}

.battery, .load {
    position: relative;
    right: 50px;
    margin: 30px 0;
}

.about-specs span {
    font-size: 15px;
    color: rgb(174, 174, 174);
}

.specs-big-img img {
    margin-left: 20%;
    transition: 0.7s ease-in-out;
}

.specs-big-img img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

/* ========== Case-section ========== */
.case-section {
    padding: 40px 0;
    width: 80%;
    margin: auto;
    position: relative;
    top: 50px;
}

.cases {
    margin-left: 42%;
    margin-bottom: 70px;
}

.about-case {
    display: flex;
    justify-content: center;
    margin-right: 45px;
}
.case-img {
    margin-right: 100px;
    transition: 0.7s ease-in-out;
}
.case-img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.right-case {
    margin-top: 6.5rem;
}
.right-case p {
    line-height: 30px;
    color: rgb(174, 174, 174);
}

.right-case a {
    background-color: #222121;
    padding: 15px 50px;
    border-radius: 10px;
    border: none;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    position: relative;
    top: 45px;
    transition: 0.3s;
}

.right-case a img {
    position: absolute;
    left: 19px;
    top: 15px;
}

.right-case a:hover {
    box-shadow: 2px 2px 15px #ffffff;   
    cursor: pointer;
    transform: scale(1.1);
}

/* ========== Buynow-section ========== */
.buynow-section {
    margin: 10% 0;
}

.buynow-box {
    width: 70%;
    height: 350px;
    margin: 0 auto;
    background-color: #181a1b;
    border-radius: 10px;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
}

.left-buynow {
    margin-bottom: 50px;
}

.left-buynow h2 {
    color: #ffffff;
}
.left-buynow p {
    color: rgb(174, 174, 174);
    position: relative;
    top: 18px;
}
.left-buynow a, .user-input a {
    background-color: #000000;
    padding: 15px 50px;
    border-radius: 10px;
    border: none;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    position: relative;
    top: 45px;
    text-align: center;
    transition: 0.3s;
}
.left-buynow a:hover {
    box-shadow: 2px 2px 15px #ffffff;   
    cursor: pointer;
    transform: scale(1.1);
}
.left-buynow a img {
    position: absolute;
    left: 19px;
}

.right-buynow img {
    transition: 0.5s ease-in-out;
}
.right-buynow img:hover {
    transform: translateX(45px);
    cursor: pointer;
}

.choose-style-section {
    margin: 5% 0;
}
.choose-style-logo {
    margin-left: 42%;
    margin-bottom: 120px;
}
.headphone-box {
    margin: 0 auto;
    width: 40%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
    row-gap: 100px;
}

.headphone {
    background-color: #181a1b;
    width: 200px;
    height: 180px;
    border-radius: 10px;
}

.headphone-img {
    height: 140px;
    margin-top: -48px;
    margin-left: 48px;
    transition: 0.5s ease-in-out;
}
.headphone-img:hover {
    transform: scale(1.3);
    cursor: pointer;
}

.headphone h4 {
    margin-top: 15px;
    margin-left: 20px;
}
.headphone span {
    position: relative;
    left: 20px;
    bottom: 20px;
}
#shop-bag {
    margin-left: 90px;
    position: relative;
    bottom: 10px;
    background-color: #000000;
    padding: 10px 12px;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
}
#shop-bag:hover {
    box-shadow: 1px 1px 10px #ffffff;   
    cursor: pointer;
    transform: scale(1.1);
}

.footer {
    margin-top: 8%;
    margin-bottom: 15%;
    margin-left: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
}

.footer-logo img {
    position: relative;
    left: 7%;
    top: -20px;
}

.footer .list {
   position: relative;
   top: 65px;
   left: 20px; 
}
.support {
   position: relative;
   left: 5px;
}
 
.footer ul {
     margin: 24px 0;
}
.footer ul li {
     list-style: none;
     margin: 15px 0;
}
 
.footer ul li a {
     text-decoration: none;
     color: #a7a6a6;
}
.footer ul li a:hover {
    color: #ffffff;
}

.right-last-footer {
    margin-right: 30px;
    margin-top: 55px;
}

.user-input input {
    background-color: #181a1b;
    width: 370px;
    height: 60px;
    padding: 30px 20px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    color: #ffffff;
}
.user-input input:focus {
    offset: 0;
    outline: none;
}

.user-input a {
    padding: 13px 20px;
    font-size: 14px;
    display: flex;
    align-items: center;
    width: 130px;
    position: relative;
    left: 62.5%;
    top: -53px;
}
.user-input a:hover {
    background-color: #1a1919;
    border: 1px solid #3c3b3b;
}
.user-input a img {
    position: relative;
    right: 8px;
}
.social-icon {
    position: relative;
    top: -10px;
}
.social-icon img {
    margin-right: 25px;
}
.social-icon img:hover {
    cursor: pointer;
}



