* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* body {
    overflow: hidden;
} */

/* ======= Navigation Bar ======= */
.navbar {
    background-color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 0;
    gap: 100px;
}
.logo img {
    height: 40px;
}

ul {
    display: flex;
    gap: 40px;
}
ul li a {
    text-decoration: none;
    color: rgb(193, 192, 192);
    transition: 0.3s;
}
ul li a:hover {
    color: #0c8bfd;
}

button {
    background-color: #0c8bfd;
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 10px 30px;
    font-size: 15px;
    transition: 0.4s;
}
button:hover {
    box-shadow: 0 0 5px 2px #fff;
    cursor: pointer;
}

/* ======= Section-one ======= */
.section-one {
    background-color: #000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 600px;
}

.left-text {
    display: flex;
    flex-direction: column;
    gap: 45px;
    margin-left: 105px;
    margin-bottom: 25px;
}
.left-text h1 {
    color: #fff;
    font-size: 65px;
    width: 60%;
}
.left-text h1 em {
    color: #0c8bfd;
}
.left-text p {
    color: rgb(117, 116, 116);
    font-size: 18px;
    width: 50%;
    line-height: 30px;
}
.getstart-btn {
    padding: 15px 25px;
    transition: 0.3s;
}
.try-btn {
    padding: 15px 25px;
    border: 1px solid #fff;
    background-color: transparent;
    margin-left: 20px;
}
.try-btn:hover {
    background-color:  #0c8bfd;;
}
.right-img img {
    height: 460px;
    position: relative;
    right: 35%;
}

/* ======= Section-two (Logo) ======= */
.section-two {
    background-color: rgb(31, 31, 31);
    height: 100px;
    display: flex;
    justify-content: center;
    gap: 140px;
    padding-top: 30px;
}
.section-two img {
    height: 45px;
}

/* ======= Section-three ======= */
.section-three {
    background-color: #fff;
}
.section-three-text {
    text-align: center;
    margin-top: 100px;
}
.section-three-text h1 {
    font-size: 45px;
}
.section-three-text p {
    font-size: 18px;
    color: rgb(99, 96, 96);
    width: 25%;
    margin-left: 40%;
    margin-top: 20px;
    line-height: 25px;
}

/* Features-boxes */
.features-boxes {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 100px 0;
}
.box {
    background-color: #fff;
    border: 2px solid rgb(158, 154, 154);
    border-radius: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    height: 280px;
    width: 300px;
    cursor: pointer;
    transition: 0.3s;
}
.box:hover {
    transform: translateY(-20px);
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.32);
    background-color: #000;
    color: #fff;
}

.box-1 img {
    height: 70px;
}
.box-1 h2 {
    font-size: 22px;
}
.box-1 p {
    color: rgb(110, 109, 109);
    font-size: 15px;
}

.box-2 {
    position: relative;
    bottom: 40px;
    background-color: #000;
    border: none;
}
.box-2 img {
    height: 70px;
}
.box-2 h2 {
    color: #fff;
    font-size: 22px;
}
.box-2 p {
    color: rgb(110, 109, 109);
    font-size: 15px;
    width: 70%;
}
.box-2:hover {
    transform: translateY(-20px);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.32);
    background-color: rgb(34, 33, 33);
}

.box-3 img {
    height: 70px;
}
.box-3 h2 {
    font-size: 22px;
}
.box-3 p {
    color: rgb(110, 109, 109);
    font-size: 15px;
    width: 80%;
}

.section-three .heading-two {
    font-size: 45px;
    width: 60%;
    margin-left: 10%;
}

/* Features */
.features {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-top: 50px;
}

.feature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    border: 1px solid #000;
    border-radius: 40px;
    margin: 20px 0;
    padding: 24px 30px;
    font-weight: 600;
}
.feature p {
    font-size: 20px;
}
.feature img {
    height: 30px;
}
.feature-one {
    background-color: #0c8bfd;
    border: none;
    color: #fff;
}

.feature:hover {
    background-color:#0c8bfd;
    color: #fff;
    border: none;
    cursor: pointer;
}

.items {
    background-color: #000;
    margin-top: 32px;
    border-radius: 30px;
}

.items ul {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 500px;
    height: 450px;
    position: relative;
    top: 16px;
    left: 5%;
}
.items ul li {
    list-style: none;
    color: #fff;
    background-color: rgb(49, 48, 48);
    padding: 12px 20px;
    width: 94%;
    border-radius: 40px;
    margin: -15px;
}
.items ul li::before {
    content: '';
    display: inline-block;
    background-color: #fff;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin-right: 10px;
}
.items ul li:hover {
    background-color: #0c8bfd;
    color: #fff;
    cursor: pointer;
}

/* ======= Section-four(Pricing) ======= */
.section-four {
    background-color: #000;
    padding: 80px;
}

.section-four h1 {
    color: #fff;
    font-size: 48px;
    text-align: center;
    position: relative;
    top: 10%;
    left: 25%;
    width: 50%;
}

.arrow-img {
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
    position: relative;
    bottom: 30px;
}

.price-section {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.price-section h2 {
    font-size: 28px;
}
.price-section p {
    font-weight: 600;
    font-size: 14px;
    margin: 10px 0;
}
.price-section p:after {
    content: '';
    border-bottom: 2px solid rgb(203, 201, 201);
    width: 100%;
    display: block;
    margin: 20px 0;
}
.pricing {
    background-color: rgb(254, 251, 251);
    margin-top: 32px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
    padding: 30px;
    padding-bottom: 40px;
}

.pricing h1 {
    color: #000;
    margin: 0 -85px;
    display: inline;
}
.regular h1 span {
    margin: 0 -12px;
}
.pricing h1 span {
    font-size: 20px;
    color: rgb(150, 149, 149);
}
.pricing ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.pricing ul li {
    list-style: none;
    margin: -8px 0;
    margin-left: 5px;
}
.pricing ul li img {
    position: relative;
    top: 5px;
    right: 8px;
}
.select-btn {
    padding: 20px 25px;
    margin-top: 25px;
    font-size: 18px;
    transition: 0.3s;
}
.select-btn:hover {
    background-color:#2271c5;
    color: #fff;
    cursor: pointer;
    box-shadow: 0px 15px 40px #000;
}
.standard {
    background-color:#0c8bfd;
    color: #fff;
}
.standard h1 {
    color: #fff;
}
.standard h1 span {
    color: rgb(216, 214, 214);
}
.standard button {
    background-color: #fff;
    color: #000;
}

/* ======= Section-five(Reviews) ======= */
.section-five {
    padding: 80px;
}
.text-five {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
}
.text-five h1 {
    font-size: 50px;
    width: 30%;
}
.text-five p {
    width: 30%;
    font-size: 20px;
    color: rgb(196, 193, 193);
}

.customer-review {
    overflow: auto;
    display: flex;
    gap: 25px;
    white-space: nowrap;
    padding-bottom: 50px;
    margin-left: 10%;
    width: 1000px;
    margin-bottom: 6%;
}
.customer-review::-webkit-scrollbar {
    height: 5px;   
}
.customer-review::-webkit-scrollbar-track{
    background:#f3f3f3;
    border-radius: 30vw;
}
.customer-review::-webkit-scrollbar-thumb {
    background:#0c8bfd;
    border-radius: 30vw;
}

.reviews {
    height: 300px;
    width: 700px;
    background-color: #000;
    color: #fff;
    border-radius: 15px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 5%;
}
.reviews img {
    height: 30px;
}
.reviews span {
    margin-top: -15px;
    font-size: 15px;
    color: rgb(156, 152, 152);
}
.reviews p {
    font-size: 20px;
}

.stars {
    display: flex;
    gap: 6px;
    margin: 10px 0;
    margin-top: -3px;
}

.stars img {
    height: 20px;
   
}

.review-2 {
    background-color: #fff;
    color: #000;
    border: 1px solid rgb(155, 152, 152);
}
.review-2 p {
    width: 95%;
}

/* ======= Footer ======= */
.footer {
    padding: 50px;
    background-color: #000;
    height: 950px;
}
.footer h1 {
    color: #fff;
    font-size: 45px;
    width: 60%;
    text-align: center;
    margin-left: 20%;
    line-height: 60px;
}
.user-input {
    background-color: rgb(39, 38, 38);
    padding: 45px;
    margin: 40px 80px;
    border-radius: 25px;
}
.user-input input {
    background-color: rgb(80, 79, 79);
    padding: 20px;
    border: none;
    border-radius: 30px;
    margin-right: 12%;
}
.user-input input::placeholder {
    font-size: 16px;
}
.user-input input:focus {
    offset: 0;
    outline: none;
}
.signup-btn {
    padding: 20px 40px;
}

.line {
    background-color: #1f1f1f;
    width: 100%;
    margin: auto;
}
.start-line {
    margin-top: 90px;
}
.end-line {
    margin-top: 8%;
}

.footer-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(216, 214, 214);
    padding-top: 6%;
}
.footer-menu ul {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
}
.footer-menu ul li {
    list-style: none;
    text-decoration: none;
    margin: -10px 0;
}
.help {
    margin-top: -35px;
}
.social-media {
    margin-top: -20px;
}

.footer img {
    height: 75px;
    padding-top: 30px;
}